.contato-main {
    max-width: 800px;
    margin: 40px auto;
}

fieldset {
    border: none;
}

.contato-main form label, 
.contato-main form fieldset{
    font-size: 20px;
}

.text input {
    display: block;
    width: 400px;
    height: 35px;
    margin-bottom: 20px;
}

.contato-main form textarea {
    display: block;
}

.radio, 
.select, 
.checkbox{
    margin: 25px 0 0 ;
}

.enviar {
    background-color: orange;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 7px;
    width: 40%;
    padding: 15px 0;
    margin: 30px 0;
}

.enviar:hover {
    background-color: darkorange;
    cursor: pointer;
    transition: 1s;
    transform: scale(1.2);
}

table {
    border-spacing: 0px;
}

table th {
    background-color: rgb(141, 141, 141);
    color: white;
    font-weight: bolder;
    border: 1px solid black;
    padding: 8px 15px;
}

table td {
    border: 1px solid black;
    padding: 8px 15px;
}