.contato-main {
    max-width: 800px;
    margin: 40px auto;
}

.contato-main form label, 
.contato-main form p{
    font-size: 20px;
}

.text input {
    display: block;
    width: 400px;
    height: 35px;
    margin-bottom: 20px;
}

.contato-main form textarea {
    display: block;
}

.radio p, 
.select p, 
.checkbox{
    margin: 25px 0 0 ;
}

#enviar {
    background-color: #c78c19;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 7px;
    width: 300px;
    height: 50px;
    margin: 30px 0;
}

table {
    border-spacing: 0px;
}

table th {
    border: 1px solid black;
    padding: 5px 10px;
    width: 80px;
}

table #titulos {
    background-color: #BBB;
}