body {
    margin: 0;
}

.header {
    background-color: #BBB;
    display: flex;
    justify-content: space-around;
}

.nav {
    margin-top: 100px;
}

.nav > ul{
    list-style: none;
    display: flex;
}

.nav > ul > li > a {
    text-decoration: none;
    color: black;
}

.link {
    font-size: 20px;
    font-weight: bolder;
    margin-right: 15px;
    text-transform: uppercase;
}

.produtos {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 50px;
    justify-content: center;
}

.item {
    border: 2px solid black;
    border-radius: 10px;
    width: 250px;
    padding: 15px;
    margin: 20px;
}

.item > p {
    font-size: 18px;
}

.price {
    font-weight: bolder;
}

.item:hover {
    border: 2px solid #c78c19;
}

footer {
    background: url(imagens/bg.jpg);
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 70px;
}

footer > img {
    width: 100px;
}